######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

[gcode_macro START_PRINT]
gcode:
	{% set BED_TEMP = params.BED_TEMP|default(60)|float %}
	{% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
	
	# Start bed heating
	M140 S{BED_TEMP}
	# Warm up extruder
	M104 S140
	# Wait for extruder to reach warmup temperature
	M109 S140
		
	# Reset the G-Code Z offset (adjust Z offset if needed)
	SET_GCODE_OFFSET Z=0.08
	
	# Home the printer
	G28
	# Lower nozzle by 20mm to step off endstops
	G91
	G1 Z-20 F3000
	
	# Use absolute coordinates
	G90

	# Wait for bed to reach temperature
	M190 S{BED_TEMP}
	
	# Mesh bed
	#todo
	
	# Start extruder heating
	M104 S{EXTRUDER_TEMP}
	
	# Move the nozzle near the bed at middle left of bed
	{% set bed_radius = printer.configfile.settings.printer.print_radius | float %}
	G1 X{ -bed_radius } Y0 Z5 F3000
	# Move the nozzle very close to the bed
	G1 Z0.35 F300
	
	# Wait for extruder to reach temperature
	M109 S{EXTRUDER_TEMP}
	
	# Purge line
	LINE_PURGE

[gcode_macro END_PRINT]
gcode:
	# Turn off bed, extruder, and fan
	M140 S0
	M104 S0
	M106 S0
	
	# Move nozzle away from print while retracting an additional 2mm
	# Note that filament already has single retraction at end of print, before this macro.
	G91
	G1 X-2 Y-2 E-2 F300
	G90
	# Home printer
	G28
	# Lower nozzle by 20mm to step off endstops
	G91
	G1 Z-20 F3000
	G90
	
	# Disable steppers
	M84
	
######################################################################
# Beeper
######################################################################

# M300 : Play tone. Beeper support, as commonly found on usual LCD
# displays (i.e. RepRapDiscount 2004 Smart Controller, RepRapDiscount
# 12864 Full Graphic). This defines a custom I/O pin and a custom
# GCODE macro.  Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.
# The frequency won't be pitch perfect.

# output_pin defined within LCD Display section in printer.cfg.
#[output_pin beeper]
#pin: P1.30
#pwm: True

#[output_pin BEEPER_pin]
#pin: ar37
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
#pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
#value: 0
#   Silent at power on, set to 1 if active low.
#shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
#cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[gcode_macro M300]
gcode:
	# Use a default 1kHz tone if S is omitted.
	{% set S = params.S|default(1000)|int %}
	# Use a 10ms duration is P is omitted.
	{% set P = params.P|default(100)|int %}
	SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
	G4 P{P}
	SET_PIN PIN=beeper VALUE=0
	

######################################################################
# Line Purge
######################################################################
# Info

[gcode_macro LINE_PURGE]
gcode:
	# Purge Parameters
	
	# Get relevant printer params
	#{% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}
	{% set travel_speed = 100 * 60 | float %}
	{% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section * 0.75 | float %}
	{% set purge_height = 0.35 | float %}
	{% set tip_distance = 3 | float %}
	{% set purge_amount = 20 | float %}													# amount of filament to purge (mm)
	{% set filament_diameter = printer.configfile.settings.extruder.filament_diameter | float %}
	{% set flow_rate = 7.5 | float %}
	{% set bed_radius = printer.configfile.settings.printer.print_radius | float %}    # printable bed radius
	
	
	{% set extruded_volume = (purge_amount) * (filament_diameter/2)**2 * 3.1415926 | float %}
	{% set movement_length = (extruded_volume) / (cross_section) | float %}
	{% set movement_theta = (movement_length) / (bed_radius) | float %}					# radians
	{% set purge_move_speed = (flow_rate / cross_section) * 60 | float %}
	
	# Cannot be calculated in macro due to absense of trig functions. Requires custom build of klipper.
	# start = ( (bed_radius-1) * cos(3*pi/2 - movement_theta/2), (bed_radius-1) * sin(3*pi/2 - movement_theta/2) )
	# end = ( (bed_radius-1) * cos(3*pi/2 + movement_theta/2), (bed_radius-1) * sin(3*pi/2 + movement_theta/2) )	
	
	# Using above formulae, start and end derived such that:
	# - purge amount extruded at max extrude cross section
	# - purge line centered on 3pi/2 radians
	# - purge line is an arc with radius = bed_radius-1, origin at 0,0
	# see here: https://www.desmos.com/calculator/rjmbwdu0vl
  	#   updated with smaller cross section and lower purge amount: https://www.desmos.com/calculator/qixfatqpp6
	{% set purge_x_start = -47.998 | float %}
	{% set purge_y_start = -86.587 | float %}
	{% set purge_x_end = 47.998 | float %}
	{% set purge_y_end = -86.587 | float %}

	# NOTE: {-x} does not negate x, but rather removes whitespace. 
	#       { -x } negates x; whitespace between '{' and '-' important.
	
	# Purge Commands (Modified from KAMP)
	
	SAVE_GCODE_STATE NAME=Prepurge_State                                                # Create gcode state

	G92 E0                                                                              # Reset extruder
	G0 F{travel_speed}                                                                  # Set travel speed
	G90                                                                                 # Absolute positioning
	G0 X{purge_x_start} Y{purge_y_start}                                                # Move to purge position
	G0 Z{purge_height}                                                                  # Move to purge Z height
	M83                                                                                 # Relative extrusion mode
	G1 E{tip_distance} F{purge_move_speed}                                              # Move filament tip
	G3 X{purge_x_end} Y{purge_y_end} I{ -purge_x_start } J{ -purge_y_start } E{purge_amount} F{purge_move_speed}                # Purge line
	G10                                                                                 # Retract
	G0 Y{purge_y_end + 10} F{travel_speed}					                             # Rapid move to break string
	G92 E0                                                                              # Reset extruder distance
	M82                                                                                 # Absolute extrusion mode
	G0 Z{purge_height * 2} F{travel_speed}                                              # Z hop

	RESTORE_GCODE_STATE NAME=Prepurge_State                                             # Restore gcode state

######################################################################
# Debug Macro
######################################################################
[gcode_macro DEBUG]
gcode:
	{% set bed_radius = printer.configfile.settings.printer.print_radius | float %}
	M118 R {bed_radius}